/* Update CSS for the card */
.card {
    width: 23.33%;
    border: 2px solid #ededed;
    padding: 20px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    text-align: center;
    margin: 10px;
    max-height: 400px;
  }
  
  /* Optional: Style the card image */
  .card-image {
    width: 100%;
    margin-bottom: 1rem;
    object-fit: contain;
    height: 250px;
  }
  
  /* Optional: Style the card details */
  .card-details {
    margin-bottom: 1rem;
  }
  
  .card-title {
    margin-bottom: 0.5rem;
    font-size: 18px; /* Adjust font size as needed */
  }
  
  .card-reviews {
    margin-bottom: 0.5rem;
  }
  
  .ratings-start {
    color: #d5ab55;
  }
  
  .total-reviews {
    font-size: 14px; /* Adjust font size as needed */
    margin-left: 10px;
  }
  
  .card-price {
    font-size: 16px; /* Adjust font size as needed */
  }
  
  .favorite-icon {
    color: red;
  }

  @media only screen and (max-width: 1420px) {
    .card {
        width: 31.33%;
    }
  }

  
  @media only screen and (max-width: 1200px) {
    .card {
        width: 45%;
    }
  }

  @media only screen and (max-width: 800px) {
    .card {
        width: 100%;
        height: auto !important;
    }
  }
  
  