.bg-myWhite {
  background-color: white;
}
:root {
  --mainDark: #343a40;
  --mainGrey: rgba(109, 109, 109);
  --mainLightGrey: rgba(172, 172, 172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
}
.right-aligned {
  justify-content: flex-end;
}
.navigation-link {
  /* background-color: red; */
  margin: 60px;
  font-size: 20px;
}
.logo-img {
  margin-left: 75px;
  margin-right: 75px;
  width: 200px;
}
.navbar {
  background-color: rgb(236, 225, 225);
}
.wrapper-fav-button {
  position: relative;
}
.favorites-button {
  position: absolute;
  bottom: -5px;
  right: 30px;
  border-radius: 5px;
  background-color: var(--mainGrey);
  padding: 0 10px;
  color: white;
  font-size: 13px;
}

.fav-dropdown {
  position: relative;
  display: inline-block;
  padding: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  margin-left: auto;
  margin-right: 25px;
  margin-top: 10px;
}

.fav-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  left: -1px;
}
.cart-item {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.product-container {
  display: flex;
  align-items: center;
}

.product-image {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.product-info p {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.product-price {
  align-self: flex-end;
  font-size: 18px;
  font-weight: bold;
}
